cv.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name = "personne">
<xs:complexType>
	<xs:sequence>
		<xs:element name = "nom" type="xs:string"/>
		<xs:element name = "prenom" type="xs:string"/>
        <xs:element name = "datenaiss" type="xs:date"/>
	</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>